{block title}{_sales_funnel.frontend.address_country_conflict.title}{/block}

{block #content}

<div class="row">
    <div class="col-md-12">
        {control snippet 'funnel-address-country-conflict'}
    </div>
</div>
