<li class="list-group-item">
    <strong>{_sales_funnel.admin.component.sales_funnel_user_listing_widget.funnel}: </strong>
    <a href="{plink :SalesFunnel:SalesFunnelsAdmin:show $salesFunnel->id}">
        {$salesFunnel->name}
    </a>
</li>