{block title}{_sales_funnel.frontend.invalid.title}{/block}

{block #content}

<div class="container">
    <div class="clearfix">
        {ifset $noAccessHtml}
            {$noAccessHtml|noescape}
        {else}
            {control snippet 'funnel-limit-reached'}
        {/ifset}
    </div>
</div>
