{block title}{_sales_funnel.frontend.sign_in.title}{/block}

{block #content}

<div class="container">
    <div class="clearfix">
        <h1>{_sales_funnel.frontend.sign_in.title}</h1>

        {control signInForm}

        {control snippet 'sign-in-bottom'}
    </div>
</div>
