{block title}Success{/block}

{block #headstart}{/block}

{block #content}

  <div class="container">
      <h1>Thank you for your subscription.</h1>

      <div class="row">
          <a href="{$destination}" class="btn btn-primary">Return to post</a>
      </div>
  </div>

{/block}