<html lang="sk-SK" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<title>{ifset #title}{include title|striptags} | {/ifset}DennikN</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<script type='text/javascript' src='{$basePath}/layouts/default/js/jquery-1.11.2.js'></script>
	<link rel="stylesheet" href="{$basePath}/layouts/default/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/layouts/default/js/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style type="text/css">
    	html, body { font-family: 'Source Sans Pro'; }
    </style>
</head>
<body>
{include content}
</body>
</html>
