<html lang="{$language}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<title>{ifset #title}{include title|striptags} | {/ifset}DennikN</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="canonical" href={link //this} />
	{block headMeta}{/block}
	<script type='text/javascript' src='{$basePath}/layouts/default/js/jquery-1.11.2.js'></script>
	<link rel="stylesheet" href="{$basePath}/layouts/default/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/layouts/default/js/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style type="text/css">
    	html, body { font-family: 'Source Sans Pro'; }
    </style>
	{block head}{/block}
</head>
<body>
{include content}
</body>
</html>
