<div class="thank-you-footer">
    <a href="{plink :Mail:MailSettings:mailSettings}" target="_parent" class="btn btn-success"
       id="success-continue-to-subscriptions">{_sales_funnel.frontend.success_page.complete_registration} <i
                class="fa fa-check" aria-hidden="true"></i></a>
    <div class="thank-you-footer-text">{_sales_funnel.frontend.success_page.complete_registration_info|noescape}</div>
</div>