<div class="thank-you-footer">
    <a href="{$referer}" target="_parent" class="btn btn-success"
       id="success-continue-to-subscriptions">{_sales_funnel.frontend.success_page.complete_registration}</a>
    <div class="thank-you-footer-text">{_sales_funnel.frontend.success_page.complete_registration_info|noescape}</div>
</div>