{block #headstart}

{/block}


{block #content}

<div style="margin-top:20px; margin-bottom:20px">
	<h1 n:block="title">{_sales_funnel.frontend.upgrade.error.title}</h1>
	<p style="margin-top:20px">
		{_sales_funnel.frontend.upgrade.error.message}<br>
		<b><a n:href="{$homeRoute}"
					style="text-decoration:underline;">{_sales_funnel.frontend.upgrade.error.my_subscriptions}</a></b>
    </p>
</div>


