{block #headstart}

{/block}

{block #content}

<div style="margin-top:20px; margin-bottom:20px">
	<h2 n:block="title">{_sales_funnel.frontend.upgrade.success}</h2>
	{control snippet 'upgrade-success'}
</div>


