<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">{_sales_funnel.subscription_types_in_sales_funnels.header}</h2>
        {if $usedSalesFunnels->count('*')}
            <ul class="list-group">
                <li n:foreach="$usedSalesFunnels as $funnel" class="list-group-item">
                    <a href="{plink :SalesFunnel:SalesFunnelsAdmin:show $funnel->id}">{$funnel->name}</a>
                    <code>{$funnel->url_key}</code>
                </li>
            </ul>
        {else}
            <p class="text-muted well text-center">{_sales_funnel.subscription_types_in_sales_funnels.no_sales_funnels_message}</p>
        {/if}
    </div>
</div>