services:
	moduleManager:
		setup:
			- addModule(Crm\SalesFunnelModule\SalesFunnelModule())

	sales_route:
		class: Crm\SalesFunnelModule\SalesFunnelRoute
		autowired: no

	salesFunnelsRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsRepository
	salesFunnelsSubscriptionTypesRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsSubscriptionTypesRepository
	salesFunnelsPaymentGatewaysRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsPaymentGatewaysRepository
	salesFunnelsStatsRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsStatsRepository
	salesFunnelsMetaRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsMetaRepository

	- Crm\SalesFunnelModule\Api\ListPaymentsPublicMetaHandler
	- Crm\SalesFunnelModule\Api\TrackStatsHandler
	- Crm\SalesFunnelModule\Components\NewSubscriptionWidget
	- Crm\SalesFunnelModule\Components\SubscriptionTypesInSalesFunnelsWidget
	- Crm\SalesFunnelModule\Components\FinishRegistrationWidget
	- Crm\SalesFunnelModule\Components\WindowPreviewControlFactoryInterface
	- Crm\SalesFunnelModule\Components\AmountDistributionWidget
	- Crm\SalesFunnelModule\Components\AmountDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\PaymentDistributionWidget
	- Crm\SalesFunnelModule\Components\PaymentDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\DaysFromLastSubscriptionDistributionWidget
	- Crm\SalesFunnelModule\Components\DaysFromLastSubscriptionDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\SalesFunnelUserListingWidget
	- Crm\SalesFunnelModule\DataProvider\PaymentsAdminFilterFormDataProvider
	- Crm\SalesFunnelModule\Distribution\SubscriptionDaysDistribution
	- Crm\SalesFunnelModule\Events\PaymentStatusChangeHandler
	- Crm\SalesFunnelModule\Events\SalesFunnelHandler
	- Crm\SalesFunnelModule\Forms\SalesFunnelAdminFormFactory
	salesFunnelsCache: Crm\SalesFunnelModule\SalesFunnelsCache
	- Crm\SalesFunnelModule\Seeders\ConfigsSeeder
	- Crm\SalesFunnelModule\Seeders\SalesFunnelsSeeder
	- Crm\SalesFunnelModule\SalesFunnelPaymentCompleteRedirectResolver

	paymentCompleteRedirect:
		setup:
			- registerRedirectResolver(Crm\SalesFunnelModule\SalesFunnelPaymentCompleteRedirectResolver(), 100)
