services:
	moduleManager:
		setup:
			- addModule(Crm\SalesFunnelModule\SalesFunnelModule())

	salesFunnelsRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsRepository
	salesFunnelsSubscriptionTypesRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsSubscriptionTypesRepository
	salesFunnelsPaymentGatewaysRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsPaymentGatewaysRepository
	salesFunnelsStatsRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsStatsRepository
	salesFunnelsMetaRepository: Crm\SalesFunnelModule\Repository\SalesFunnelsMetaRepository
	salesFunnelsConversionDistributionsRepository: Crm\SalesFunnelModule\SalesFunnelsConversionDistributionsRepository

	# DI
	- Crm\SalesFunnelModule\DI\Config

	- Crm\SalesFunnelModule\Api\ListPaymentsPublicMetaHandler
	- Crm\SalesFunnelModule\Api\TrackStatsHandler
	- Crm\SalesFunnelModule\Commands\CalculateSalesFunnelsConversionDistributionsCommand
	- Crm\SalesFunnelModule\Components\NewSubscriptionWidget
	- Crm\SalesFunnelModule\Components\SubscriptionTypesInSalesFunnelsWidget
	- Crm\SalesFunnelModule\Components\FinishRegistrationWidget
	- Crm\SalesFunnelModule\Components\WindowPreviewControlFactoryInterface
	- Crm\SalesFunnelModule\Components\AmountDistributionWidget
	- Crm\SalesFunnelModule\Components\AmountDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\PaymentDistributionWidget
	- Crm\SalesFunnelModule\Components\PaymentDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\DaysFromLastSubscriptionDistributionWidget
	- Crm\SalesFunnelModule\Components\DaysFromLastSubscriptionDistributionWidgetFactory
	- Crm\SalesFunnelModule\Components\SalesFunnelUserListingWidget
	- Crm\SalesFunnelModule\DataProvider\RetentionAnalysisDataProvider
	- Crm\SalesFunnelModule\DataProvider\PaymentsAdminFilterFormDataProvider
	- Crm\SalesFunnelModule\Scenarios\PaymentIsFromSalesFunnelCriteria
	- Crm\SalesFunnelModule\Scenarios\PaymentIsFromSpecificSalesFunnelCriteria

	paymentsCountDistribution:
		factory: Crm\SalesFunnelModule\Distribution\PaymentsCountDistribution
		setup:
			- setDistributionConfiguration([0, 1, 3, 5, 8, 13, 21, 34])

	paymentsSumDistribution:
		factory: Crm\SalesFunnelModule\Distribution\PaymentsSumDistribution
		setup:
			- setDistributionConfiguration([0, 0.01, 3, 6, 10, 20, 50, 100, 200, 300])

	subscriptionDaysDistribution:
		factory: Crm\SalesFunnelModule\Distribution\SubscriptionDaysDistribution
		setup:
			- setDistributionConfiguration([0, 14, 30, 60, 120, 180])

	- Crm\SalesFunnelModule\Events\PaymentStatusChangeHandler
	- Crm\SalesFunnelModule\Events\CalculateSalesFunnelConversionDistributionEventHandler
	- Crm\SalesFunnelModule\Events\SalesFunnelChangedEventsHandler
	- Crm\SalesFunnelModule\Events\SalesFunnelHandler
	- Crm\SalesFunnelModule\Forms\SalesFunnelAdminFormFactory
	salesFunnelsCache: Crm\SalesFunnelModule\SalesFunnelsCache
	- Crm\SalesFunnelModule\Seeders\ConfigsSeeder
	- Crm\SalesFunnelModule\Seeders\SalesFunnelsSeeder
	- Crm\SalesFunnelModule\SalesFunnelPaymentCompleteRedirectResolver

	paymentCompleteRedirect:
		setup:
			- registerRedirectResolver(Crm\SalesFunnelModule\SalesFunnelPaymentCompleteRedirectResolver(), 100)
