menu:
	sales_funnels: Sales funnels

data:
	sales_funnels:
		fields:
			name: Name
			url_key: Url key
			is_active: Active
			segment_id: Segment
			start_at: Valid from
			end_at: Valid to
			body: Funnel HTML content
			no_access_html: Funnel no access html
			error_html: Funnel error screen html
			head: HTML header
			created_at: Created at
			payment_gateway: Payment gateways
			subscription_type: Subscription types
			total_show: Total shows
			total_conversions: Total conversions
			total_paid_amount: Total amount paid
			total_errors: Total errors
			last_use: Last used
			last_conversion: Last conversion
			only_logged: Only logged
			only_not_logged: Only not logged
			segment: Segment
		placeholder:
			name: for example Main funnel
			url_key: for example 'winter-sale'
			start_at: for example 14.2.2016
			end_at: for example 14.2.2016
			body: any html

frontend:
	error:
		title: Error
	inactive:
		title: Inactive
	invalid:
		title: Invalid
	no_access:
		title: No access
	sign_in:
		title: You have to sign in for this action
	success_page:
		title: Thank you!
		payment_success: Your payment was successful.
		zlavomat_success: Zlavomat coupon was applied. Your order was successful.
		pass_sent: "We sent you the password via e-mail: %email%."
		foreign_country: "For delivery to foreign countries please contact as  <a href=\"mailto:%contactEmail%\">%contactEmail%</a>"
		complete_registration: Finish registration
		complete_registration_info: "If you filled all the info, finish registration<br> and continue to configure your newsletters."
	error_page:
		title: Error
		message: Unfortunately your payment was not successful.
		reason_default: "Please try again later or contact our tech support."
	cancel_page:
		title: Payment cancelled
		message: "Your payment was cancelled. You can close this window or proceed back to the subscription offer."
		reason_default: "Back to the offer."
	not_settled_page:
		title: Payment not settled
		message: "Payment was executed during technical break of bank operating the payment gateway and system cannot confirm the status of payment. Payment will be confirmed as soon as the bank notifies the system."
	invalid_email:
		title: Invalid email entered
	invalid_credentials:
		title: Could not login with entered credentials
	disabled_auto_login:
	    title: Disabled auto-login after payment because of ADMIN user
	upgrade:
		error:
			title: Error
			message: We couldn't upgrade your subscription. Please contact our customer support.
			my_subscriptions: My subscriptions
			not_available: 'You have no active subscription or you are not signed in. Please, <a target="_top" href="/sign/in">sign in</a> or choose from our <a href="/" target="_top">subscription offerings</a>.'
			no_base_payment: 'System cannot perform and upgrade automatically. Please contact use at info@dennikn.sk and we will gladly help you.'
			already_upgraded: 'You already have the upgraded package, no further upgrade is necessary.'
			no_upgrade_possible: 'Your current type of subscription is not upgradeable.'
			card_expiring: 'Upgrade is not possible, your card is expiring soon.'
			choose_gateway: You must choose a form of payment to continue.
		success: Your subscription has successfully been upgraded
		payment_gateway_timeout: Payment gateways is temporarily unavailable. Please try again later.
		subscription:
			confirm_modal:
				title: Do you really want to upgrade?
				submit: "Yes, please, upgrade my subscription"
				close: Close
			select_payment_gateway: Select payment method
			back: Back
			actual_subscription: Your actual subscription grants you access to
		subscription_info:
			actual_subscription: You're currently having subscription for
			valid_to: valid to
			short_confirmation: "If you confirm the subscription upgrade, your current subscription will be changed to more expensive club subscription – you don't have to pay anything, we just shorten the remaining time of your subscription. Your new subscription would be valid to"
			paid_extend_confirmation: "When upgrading, you'll be asked for a new payment. The payment amount will be discounted based on your current subscription price and remaining days. Your new subscription would be valid to"
			special_confirmation: "You need to pay 1 eur to upgrade a subscription."
			actual_price: You're currently having access for
			payment_period: every <strong>%count%</strong> days
			new_price: "Your new price for accessing web, apps and Club N will be since next charging"
			less_than_5_days: "If you have enabled recurrent charges from your debit card and your current subscription ends in less than 5 days, you'll get an upgrade immediatelly and price of the higher package will be charged when your subscription ends."
			more_than_5_days: "If you current subscription ends in more than 5 days, you'll pay proportional amount of money based on your remaining days and price of subscription you're upgrading to."

admin:
	sales_funnels:
		default:
			title: Sales funnels
			new: New sales funnel
		edit:
			title: Edit sales funnel
			back: back to sales funnel
		show:
			back: back to sales funnels
			edit: Edit sales funnel
			preview: Display sales funnel
			basic_informations: Basic information
			stats: Funnel stats
			users: Users
			meta: Meta info
			last_payments: Last payments
			no_payment_gateway_message: No payment gatewaya
			add_payment_gateway: Add payment gateway
			no_subscription_type_message: No subscription types
			add_subscription_type: Add subscription gateway
			distribution:
				label: Distribution
				amounts: How much paid before buying via this sales funnel
				payments: How many payments made before buying via this sales funnel
				subscriptions: "Days since ending of last subscription (pre-payment)"
				hadNever: Never had subscription
				hadActive: Had active subscription
		preview:
			back: back to sales funnel
			header: Preview window
		new:
			title: New sales funnel
			back: back to sales funnels
		messages:
			sales_funnel_not_found: Funnel not found
			funnel_created: Funnel successfully created
			funnel_updated: Funnel successfully updated
		window_preview:
			logged_user: Logged user
			unlogged_user: Unlogged user
	distribution:
		email: E-mail
		source: Source
		status: Status
		created_at: Created at
		back_to_funnel: Back to funnel

	component:
		subscriptions_graph:
			title: Items bought
			help: Number of bought items based on funnel payments
		sales_funnel_user_listing_widget:
			funnel: Funnel

# components
subscription_types_in_sales_funnels:
	header: Available in sales funnels
	no_sales_funnels_message: This subscription type isn't used by any sales funnel
